APP_NAME=ArenaGo
APP_ENV=development
APP_PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=arenago
DB_USERNAME=postgres
DB_PASSWORD=

JWT_ACCESS_SECRET=arenago_jwt_secret_key_access_token_super_secret_key_2026
JWT_REFRESH_SECRET=arenago_jwt_secret_key_refresh_token_super_secret_key_2026
ACCESS_TOKEN_EXPIRES=15m
REFRESH_TOKEN_EXPIRES=7d

UPLOAD_PATH=backend/uploads
