# Dependencies
/node_modules

# Logs
logs
*.log

# Environment variables
.env
.env.local

# Uploads - Ignore all files in uploads, but make exceptions for our seed assets
backend/uploads/*
!backend/uploads/soccer.jpg
!backend/uploads/futsal.jpg
!backend/uploads/badminton.jpg
!backend/uploads/basketball.jpg
!backend/uploads/tennis.jpg
!backend/uploads/volleyball.jpg
!backend/uploads/baseball.jpg
!backend/uploads/lapangan/

